@model _mvcproject_.Models.ProviderLoginViewModel


@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/FormLR.cshtml";
}

<div class="formbg-outer">
    <div class="formbg">
        <div class="formbg-inner padding-horizontal--48">
            <span class="padding-bottom--15">Sign in to your account</span>
            <form id="stripe-login" asp-action="Login">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="field padding-bottom--24">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName">
                    <span asp-validation-for="UserName" class="text-danger"></span>

                </div>

                <div class="field padding-bottom--24">
                    <label asp-for="password"></label>
                    <input asp-for="password">

                    <span asp-validation-for="password" class="text-danger"></span>

                </div>

                <div class="field padding-bottom--24">
                    <input type="submit" name="submit" value="Login">
                </div>

            </form>
        </div>
    </div>
    <div class="footer-link padding-top--24">
        <span>Don't have an account? <a asp-action="register">Sign up</a></span>

    </div>

</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
