@{
    Layout = null;
}

<html>
    <head>
    <link rel="stylesheet" href="~/css/pending.css" asp-append-version="true" />

    </head>
    <body>

<h1 aria-label="408 Error"><span></span></h1>
<h2>Your account is under Review..</h2>

    </body>
</html>
